#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR>;
            key-positions = <13 14>;
            layers = <2>;
        };

        layer-setting {
            bindings = <&to 6>;
            key-positions = <8 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q             &kp W      &kp E     &kp R             &kp T          &kp Y                 &kp U        &kp I        &kp O      &kp P
&mt LEFT_SHIFT A  &lt 4 S    &lt 5 D   &lt 2 F           &kp G          &kp H                 &kp J        &kp K        &kp L      &mt LEFT_SHIFT MINUS
&mt LEFT_SHIFT Z  &kp X      &kp C     &kp V             &kp B          &kp N                 &kp M        &kp COMMA    &kp DOT    &mt LEFT_SHIFT SLASH
&kp LEFT_GUI      &kp SPACE  &kp LALT  &kp LEFT_CONTROL  &mt SPACE TAB  &mt LEFT_SHIFT GRAVE  &lt 2 ENTER  &lt 1 SPACE  &kp RCTRL
            >;
        };

        layer_1 {
            bindings = <
&kp ESC   &kp EXCL         &kp AT_SIGN  &kp HASH      &kp DOLLAR            &kp ASTRK  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp BSPC
&kp AMPS  &kp PERCENT      &kp CARET    &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp PLUS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS
&kp PLUS  &kp RIGHT_BRACE  &kp PIPE     &kp LBKT      &kp BSLH              &kp DOT    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_0
&trans    &trans           &trans       &trans        &kp LSHFT             &trans     &kp ENTER        &kp SPACE        &trans
            >;

            label = "num & mark";
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp LS(PG_UP)  &trans          &kp UP_ARROW  &trans     &kp BACKSPACE
&trans  &trans  &trans  &trans  &trans  &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans        &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans         &trans          &trans        &trans
            >;

            label = "arrow";
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans      &trans   &trans  &trans  &trans    &trans    &trans
&trans  &trans  &trans  &trans      &trans   &trans  &trans  &mkp MB1  &mkp MB2  &trans
&none   &none   &none   &kp DELETE  &kp TAB  &none   &none   &none     &none
            >;

            label = "mouse";
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &bootloader  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans       &trans  &trans  &trans
            >;

            label = "scrool";
        };

        layer_5 {
            bindings = <
&kp ESC  &kp RA(RIGHT)  &trans  &kp RS(RG(LEFT))  &kp RC(T)          &trans   &trans    &trans   &trans   &kp BSPC
&trans   &kp RA(LEFT)   &trans  &kp RS(RC(SEMI))  &kp F2             &trans   &trans    &trans   &trans   &trans
&trans   &trans         &trans  &kp RG(V)         &kp RS(RC(N))      &trans   &trans    &trans   &trans   &trans
&trans   &trans         &trans  &kp RS(RG(LEFT))  &kp RS(RG(RIGHT))  &kp TAB  &kp HOME  &kp END  &kp ESC
            >;

            label = "shortcut";
        };

        layer_6 {
            bindings = <
&bt BT_SEL 0   &bt BT_SEL 1    &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &trans  &trans  &trans  &trans  &trans
&bt BT_DISC 0  &bt BT_DISC 1   &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR     &bt BT_CLR_ALL  &trans         &trans         &trans         &trans  &trans  &trans  &trans  &trans
&bootloader    &sys_reset      &trans         &trans         &trans         &trans  &trans  &trans  &trans
            >;

            label = "setting";
        };
    };
};
